/ClientFs/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.fs
/Server/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.fs
/ClientFs/obj/Debug/net5.0/apphost.exe
/Server/obj/Debug/net5.0/apphost.exe
/ClientFs/obj/Debug/net5.0/ClientFs.AssemblyInfo.fs
/ClientFs/obj/Debug/net5.0/ClientFs.AssemblyInfoInputs.cache
/ClientFs/obj/Debug/net5.0/ClientFs.assets.cache
/ClientFs/bin/Debug/net5.0/ClientFs.deps.json
/ClientFs/bin/Debug/net5.0/ClientFs.dll
/ClientFs/obj/Debug/net5.0/ClientFs.dll
/ClientFs/bin/Debug/net5.0/ClientFs.exe
/ClientFs/obj/Debug/net5.0/ClientFs.fsproj.AssemblyReference.cache
/ClientFs/obj/Debug/net5.0/ClientFs.fsproj.CopyComplete
/ClientFs/obj/Debug/net5.0/ClientFs.fsproj.CoreCompileInputs.cache
/ClientFs/obj/Debug/net5.0/ClientFs.fsproj.FileListAbsolute.txt
/ClientFs/obj/ClientFs.fsproj.nuget.dgspec.json
/ClientFs/obj/ClientFs.fsproj.nuget.g.props
/ClientFs/obj/ClientFs.fsproj.nuget.g.targets
/ClientFs/obj/Debug/net5.0/ClientFs.genruntimeconfig.cache
/ClientFs/bin/Debug/net5.0/ClientFs.pdb
/ClientFs/obj/Debug/net5.0/ClientFs.pdb
/ClientFs/bin/Debug/net5.0/ClientFs.runtimeconfig.dev.json
/ClientFs/bin/Debug/net5.0/ClientFs.runtimeconfig.json
/ClientFs/bin/Debug/net5.0/FSharp.Core.dll
/Server/bin/Debug/net5.0/FSharp.Core.dll
/ClientFs/bin/Debug/net5.0/cs/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/de/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/es/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/fr/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/it/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/ja/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/ko/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/pl/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/pt-BR/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/ru/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/tr/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/zh-Hans/FSharp.Core.resources.dll
/ClientFs/bin/Debug/net5.0/zh-Hant/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/cs/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/de/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/es/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/fr/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/it/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/ja/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/ko/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/pl/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/pt-BR/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/ru/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/tr/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/zh-Hans/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/zh-Hant/FSharp.Core.resources.dll
/Server/bin/Debug/net5.0/FSharpPlus.dll
/Server/bin/Debug/net5.0/Giraffe.dll
/Server/bin/Debug/net5.0/Giraffe.ViewEngine.dll
/Server/bin/Debug/net5.0/Giraffe1.App.deps.json
/Server/bin/Debug/net5.0/Giraffe1.App.dll
/Server/obj/Debug/net5.0/Giraffe1.App.dll
/Server/bin/Debug/net5.0/Giraffe1.App.exe
/Server/obj/Debug/net5.0/Giraffe1.App.MvcApplicationPartsAssemblyInfo.cache
/Server/bin/Debug/net5.0/Giraffe1.App.pdb
/Server/obj/Debug/net5.0/Giraffe1.App.pdb
/Server/bin/Debug/net5.0/Giraffe1.App.runtimeconfig.dev.json
/Server/bin/Debug/net5.0/Giraffe1.App.runtimeconfig.json
/Server/obj/Debug/net5.0/staticwebassets/Giraffe1.App.StaticWebAssets.Manifest.cache
/Server/obj/Debug/net5.0/Giraffe1.AssemblyInfo.fs
/Server/obj/Debug/net5.0/Giraffe1.AssemblyInfoInputs.cache
/Server/obj/Debug/net5.0/Giraffe1.assets.cache
/Server/obj/Debug/net5.0/Giraffe1.fsproj.AssemblyReference.cache
/Server/obj/Debug/net5.0/Giraffe1.fsproj.CopyComplete
/Server/obj/Debug/net5.0/Giraffe1.fsproj.CoreCompileInputs.cache
/Server/obj/Debug/net5.0/Giraffe1.fsproj.FileListAbsolute.txt
/Server/obj/Giraffe1.fsproj.nuget.dgspec.json
/Server/obj/Giraffe1.fsproj.nuget.g.props
/Server/obj/Giraffe1.fsproj.nuget.g.targets
/Server/obj/Debug/net5.0/Giraffe1.genruntimeconfig.cache
/Server/bin/Debug/net5.0/WebRoot/main.css
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.Http.Connections.Client.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.Http.Connections.Common.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.SignalR.Client.Core.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.SignalR.Client.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.SignalR.Common.dll
/ClientFs/bin/Debug/net5.0/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.Features.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
/ClientFs/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
/Server/bin/Debug/net5.0/Microsoft.IO.RecyclableMemoryStream.dll
/Server/bin/Debug/net5.0/Newtonsoft.Json.dll
/Server/bin/Debug/net5.0/Ply.dll
/ClientFs/obj/project.assets.json
/Server/obj/project.assets.json
/ClientFs/obj/project.nuget.cache
/Server/obj/project.nuget.cache
/ClientFs/obj/project.packagespec.json
/Server/obj/project.packagespec.json
/ClientFs/obj/rider.project.restore.info
/Server/obj/rider.project.restore.info
/Server/obj/Debug/net5.0/Server.AssemblyInfo.fs
/Server/obj/Debug/net5.0/Server.AssemblyInfoInputs.cache
/Server/obj/Debug/net5.0/Server.assets.cache
/Server/obj/Debug/net5.0/Server.fsproj.AssemblyReference.cache
/Server/obj/Debug/net5.0/Server.fsproj.CopyComplete
/Server/obj/Debug/net5.0/Server.fsproj.CoreCompileInputs.cache
/Server/obj/Debug/net5.0/Server.fsproj.FileListAbsolute.txt
/Server/obj/Server.fsproj.nuget.dgspec.json
/Server/obj/Server.fsproj.nuget.g.props
/Server/obj/Server.fsproj.nuget.g.targets
/Server/obj/Debug/net5.0/Server.genruntimeconfig.cache
/ClientFs/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
/ClientFs/bin/Debug/net5.0/System.IO.Pipelines.dll
/ClientFs/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
/ClientFs/bin/Debug/net5.0/System.Text.Encodings.Web.dll
/ClientFs/bin/Debug/net5.0/System.Text.Json.dll
/ClientFs/bin/Debug/net5.0/System.Threading.Channels.dll
/Server/bin/Debug/net5.0/Utf8Json.dll
/Server/bin/Debug/net5.0/web.config
